<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="details">Details</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor content=system.description target="system.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      
      <div class="flexrow">
        <div>
          <label for="system.quantity">Quantity:</label>
          <input name="system.quantity" type="number" value="{{system.quantity}}" data-dtype="Number" min="0"/>
        </div>
        <div>
          <label for="system.weight">Weight (each):</label>
          <input name="system.weight" type="number" value="{{system.weight}}" data-dtype="Number" step="0.1"/>
        </div>
      </div>
      
      <div class="flexrow">
        <div>
          <label for="system.price">Price (each):</label>
          <input name="system.price" type="number" value="{{system.price}}" data-dtype="Number"/>
        </div>
      </div>
      
    </div>

  </section>
</form>